<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Pegawai</title>
    <link rel="stylesheet" th:href="@{/assets/css/awallogin.css}">
    <link rel="icon" type="image/svg+xml" th:href="@{/assets/img/favicon.svg}">
</head>
<body>
    <div class="verification-container">
        <h1 class="verification-question">Apakah Anda Pegawai Disini?</h1>
        <div class="buttons">
            <button id="noButton">Tidak</button>
            <button id="yesButton">Iya</button>
        </div>
    </div>

    <script>
        document.getElementById('yesButton').addEventListener('click', function() {
            window.location.href = '/verifikasi';
        });

        document.getElementById('noButton').addEventListener('click', function() {
            window.location.href = '/home';
        });
    </script>
</body>
</html>
