<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/forgotpw.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Forgot Password</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/assets/img/favicon.svg}">
</head>

<body>
    <div class="form-container">
        <div class="login-container" id="forgot-password-container">
            <h1 class="title" style="color: black;">Reset Password</h1>
            <p class="desc"style="color: black;">Masukkan email Anda untuk mereset password</p>
            <form action="/reset-password" method="post">
                <label for="email"style="color: black;">Email:</label>
                <input type="email" id="email" name="email" placeholder="enter your email address" required>
                <br>
                <label for="newPassword"style="color: black;">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="enter your new password" required>
                <br>
                <button type="submit">Save</button>
            </form>

            <span th:if="${error}" class="error-message" th:text="${error}"></span>
            <span th:if="${success}" class="success-message" th:text="${success}"></span>
        </div>
    </div>

    <script th:src="@{/assets/js/login.js}"></script>
</body>

</html>