<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary meta tags -->
    <title>Denias Cafe</title>
    <!-- Title of the webpage -->
    <meta name="title" content="Denias Cafe" />
    <!-- Meta title for SEO -->

    <!-- Favicon 
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">  Link to favicon -->

    <!-- Google Font Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
      rel="stylesheet"
    />
    <!-- Link jquey ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="./assets/css/menu.css" />

    <!-- ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Preload images for performance optimization -->
    <link rel="preload" as="image" href="./assets/img/dpn-slider-1.jpg">
    <link rel="preload" as="image" href="./assets/img/dpn-slider-2.jpg">
    <link rel="preload" as="image" href="./assets/img/dpn-slider-3.jpg">

    <link rel="icon" type="image/svg+xml" th:href="@{/assets/img/favicon.svg}">
  </head>

  <body id="top">
    <!-- Preloader untuk halaman web-->
    <div class="preload" data-preaload>
      <div class="circle"></div>
      <p class="text">Denias Cafe</p>
    </div>

    <!-- TOP BAR -->
    <div class="topbar">
      <div class="container">
        <address class="topbar-item">
          <div class="icon">
            <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
          </div>
          <span class="span" th:text="#{topbar.location_id}"></span>
        </address>

        <div class="separator"></div>

        <div class="topbar-item item-2">
          <div class="icon">
            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
          </div>
          <span class="span" th:text="#{topbar.opening_hours_id}"></span>
        </div>

        <a href="tel:+6281355906775" class="topbar-item link">
          <div class="icon">
            <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
          </div>
          <span class="span" th:text="#{topbar.phone_id}"></span>
        </a>

        <div class="separator"></div>

        <a href="mailto:deniascafe@gmail.com" class="topbar-item link">
          <div class="icon">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
          </div>
          <span class="span" th:text="#{topbar.email_id}"></span>
        </a>

        <!-- Language Selector -->
        <div class="topbar-item">
          <a href="?lang=id" class="btn btn-primary">Indonesia</a>
          <a href="?lang=en" class="btn btn-secondary">English</a>
        </div>
      </div>
    </div>

    <!-- HEADER -->
    <header class="header" data-header>
      <div class="container">
        <a href="/home" class="logo">
          <img
            src="./assets/img/Logo.svg"
            width="160"
            height="50"
            alt="Denias Cafe - Home"
          />
        </a>
        <nav class="navbar" data-navbar>
          <button class="close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
          <a href="/home" class="logo">
            <img
              src="./assets/img/Logo.svg"
              width="160"
              height="50"
              alt="Denias Cafe - Home"
            />
          </a>
          <!-- Navbar -->
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="/" class="navbar-link hover-underline">
                <div class="separator"></div>
                <span class="span" th:text="#{navbar.home_id}"></span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="/menu" class="navbar-link hover-underline active">
                <div class="separator"></div>
                <span class="span" th:text="#{navbar.menu_id}"></span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="/aboutus" class="navbar-link hover-underline">
                <div class="separator"></div>
                <span class="span" th:text="#{navbar.aboutus_id}"></span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="/pagereview" class="navbar-link hover-underline">
                <div class="separator"></div>
                <span class="span" th:text="#{navbar.review_id}"></span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="/contact" class="navbar-link hover-underline">
                <div class="separator"></div>
                <span class="span" th:text="#{navbar.contact_id}"></span>
              </a>
            </li>
          </ul>

      <!--Navbar di HP-->
      <div class="text-center">
        <p class="headline-1 navbar-title" th:text="#{navbar.visit_us_id}"></p>

        <address class="body-4">
          <span th:text="#{navbar.address_id}"></span> <br>
        </address>

        <p class="body-4 navbar-text" th:text="#{navbar.opening_hours_id}"></p>
  <a href="mailto:deniascafe@gmail.com" class="body-4 sidebar-link" th:text="#{navbar.email_id}"></a>
  <div class="separator"></div>
  <p class="contact-label" th:text="#{navbar.booking_request_id}"></p>
  <a href="tel:+6281355906775" class="body-1 contact-number hover-underline" th:text="#{navbar.phone_id}"></a>
      </div>

    </nav>

    <a href="https://wa.me/+6281355906775" class="btn btn-secondary">
      <span class="text text-1" th:text="#{navbar.book_table_id}"></span>
      <span class="text text-2" aria-hidden="true" th:text="#{navbar.book_table_id}"></span>
    </a>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>

    <div class="overlay" data-nav-toggler data-overlay></div>

  </div>
    </header>

    <main>
      <article>
        <!-- Top Menu -->

        <section class="section menu" aria-label="menu-label" id="menu">
          <div class="container">
            <br /><br /><br />

            <p class="section-subtitle text-center">
              Menu
            </p>
                <!-- Tombol Kategori -->
                <div class="button-container">
                  <button class="btn btn-secondary active" data-category="all">
                      <span class="text text-1" th:text="#{category.all}">All</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.all}">All</span>
                  </button>
                  <button class="btn btn-secondary" data-category="coffee">
                      <span class="text text-1" th:text="#{category.coffee}">Coffee</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.coffee}">Coffee</span>
                  </button>
                  <button class="btn btn-secondary" data-category="food">
                      <span class="text text-1" th:text="#{category.food}">Makanan</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.food}">Makanan</span>
                  </button>
                  <button class="btn btn-secondary" data-category="choco">
                      <span class="text text-1" th:text="#{category.choco}">Choco</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.choco}">Choco</span>
                  </button>
                  <button class="btn btn-secondary" data-category="juice">
                      <span class="text text-1" th:text="#{category.juice}">Juice</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.juice}">Juice</span>
                  </button>
                  <button class="btn btn-secondary" data-category="tea">
                      <span class="text text-1" th:text="#{category.tea}">Tea</span>
                      <span class="text text-2" aria-hidden="true" th:text="#{category.tea}">Tea</span>
                  </button>
                </div>
            <br /><br />

            <!--
              MENU
              MENU
              MENU
              MENU
              MENU
            -->
          
          

            <!--tyhemleaf-->
          <ul class="grid-list">
              <li th:each="menu : ${coffees}" data-category="coffee">
                  <div class="menu-card hover:card">
                      <figure class="card-banner img-holder" style="--width: 100; --height: 100">
                          <img th:src="@{${menu.gambarPath}}" width="100" height="100" loading="lazy" th:alt="${menu.namaMenu}" class="img-cover"/>
                      </figure>
                      <div>
                          <div class="title-wrapper">
                              <h3 class="title-3">
                                  <a href="#" class="card-title" th:text="${menu.namaMenu}">Menu Name</a>
                              </h3>
                              <span th:if="${menu.recommended}" class="badge label-1">Recommended</span>
                              <span class="span title-2">Rp.<span th:text="${#numbers.formatDecimal(menu.hargaMenu, 0, 'POINT', 0, 'COMMA')}">13,000</span></span>
                          </div>
                          <!-- Language-based Description -->
                          <p class="card-text label-1" th:text="${lang == 'en' ? menu.deskripsiMenuEn : menu.deskripsiMenu}">Menu Description</p>
                      </div>
                  </div>
              </li>
              <li th:each="menu : ${foods}" data-category="food">
                  <div class="menu-card hover:card">
                      <figure class="card-banner img-holder" style="--width: 100; --height: 100">
                          <img th:src="@{${menu.gambarPath}}" width="100" height="100" loading="lazy" th:alt="${menu.namaMenu}" class="img-cover"/>
                      </figure>
                      <div>
                          <div class="title-wrapper">
                              <h3 class="title-3">
                                  <a href="#" class="card-title" th:text="${menu.namaMenu}">Menu Name</a>
                              </h3>
                              <span th:if="${menu.recommended}" class="badge label-1">Recommended</span>
                              <span class="span title-2">Rp.<span th:text="${#numbers.formatDecimal(menu.hargaMenu, 0, 'POINT', 0, 'COMMA')}">13,000</span></span>
                          </div>
                          <!-- Language-based Description -->
                          <p class="card-text label-1" th:text="${lang == 'en' ? menu.deskripsiMenuEn : menu.deskripsiMenu}">Menu Description</p>
                      </div>
                  </div>
              </li>
              <li th:each="menu : ${chocos}" data-category="choco">
                  <div class="menu-card hover:card">
                      <figure class="card-banner img-holder" style="--width: 100; --height: 100">
                          <img th:src="@{${menu.gambarPath}}" width="100" height="100" loading="lazy" th:alt="${menu.namaMenu}" class="img-cover"/>
                      </figure>
                      <div>
                          <div class="title-wrapper">
                              <h3 class="title-3">
                                  <a href="#" class="card-title" th:text="${menu.namaMenu}">Menu Name</a>
                              </h3>
                              <span th:if="${menu.recommended}" class="badge label-1">Recommended</span>
                              <span class="span title-2">Rp.<span th:text="${#numbers.formatDecimal(menu.hargaMenu, 0, 'POINT', 0, 'COMMA')}">13,000</span></span>
                          </div>
                          <!-- Language-based Description -->
                          <p class="card-text label-1" th:text="${lang == 'en' ? menu.deskripsiMenuEn : menu.deskripsiMenu}">Menu Description</p>
                      </div>
                  </div>
              </li>
              <li th:each="menu : ${juices}" data-category="juice">
                  <div class="menu-card hover:card">
                      <figure class="card-banner img-holder" style="--width: 100; --height: 100">
                          <img th:src="@{${menu.gambarPath}}" width="100" height="100" loading="lazy" th:alt="${menu.namaMenu}" class="img-cover"/>
                      </figure>
                      <div>
                          <div class="title-wrapper">
                              <h3 class="title-3">
                                  <a href="#" class="card-title" th:text="${menu.namaMenu}">Menu Name</a>
                              </h3>
                              <span th:if="${menu.recommended}" class="badge label-1">Recommended</span>
                              <span class="span title-2">Rp.<span th:text="${#numbers.formatDecimal(menu.hargaMenu, 0, 'POINT', 0, 'COMMA')}"></span></span>
                          </div>
                          <!-- Language-based Description -->
                          <p class="card-text label-1" th:text="${lang == 'en' ? menu.deskripsiMenuEn : menu.deskripsiMenu}">Menu Description</p>
                      </div>
                  </div>
              </li>
              <li th:each="menu : ${teas}" data-category="tea">
                  <div class="menu-card hover:card">
                      <figure class="card-banner img-holder" style="--width: 100; --height: 100">
                          <img th:src="@{${menu.gambarPath}}" width="100" height="100" loading="lazy" th:alt="${menu.namaMenu}" class="img-cover"/>
                      </figure>
                      <div>
                          <div class="title-wrapper">
                              <h3 class="title-3">
                                  <a href="#" class="card-title" th:text="${menu.namaMenu}">Menu Name</a>
                              </h3>
                              <span th:if="${menu.recommended}" class="badge label-1">Recommended</span>
                              <span class="span title-2">Rp.<span th:text="${#numbers.formatDecimal(menu.hargaMenu, 0, 'POINT', 0, 'COMMA')}"></span></span>
                          </div>
                          <!-- Language-based Description -->
                          <p class="card-text label-1" th:text="${lang == 'en' ? menu.deskripsiMenuEn : menu.deskripsiMenu}">Menu Description</p>
                      </div>
                  </div>
              </li>
          </ul>
          

            <img
              src="./assets/img/shape-5.png"
              width="921"
              height="1036"
              loading="lazy"
              alt="shape"
              class="shape shape-2 move-anim"
            />
            <img
              src="./assets/img/shape-6.png"
              width="343"
              height="345"
              loading="lazy"
              alt="shape"
              class="shape shape-3 move-anim"
            />
          </div>
        </section>

        <!-- FOOTER -->
        <footer>
          <div class="row">
            <div class="col">
              <img src="./assets/img/Logo.svg" class="footer_logo" />
              <p
                class="footer_about"
                th:text="#{footer.welcome_message_id}"
              ></p>
            </div>
            <div class="col">
              <h3 th:text="#{footer.office_id}"></h3>
              <p th:text="#{footer.address1_id}"></p>
              <p th:text="#{footer.address2_id}"></p>
              <p th:text="#{footer.address3_id}"></p>
              <p class="footer_email" th:text="#{footer.email_id}"></p>
              <h4 th:text="#{footer.phone_id}"></h4>
            </div>
            <div class="col">
              <h3 th:text="#{footer.links_id}"></h3>
              <ul>
                <li><a href="/home" th:text="#{footer.home_id}"></a></li>
                <li><a href="/menu" th:text="#{footer.menu_id}"></a></li>
                <li>
                  <a href="/aboutus" th:text="#{footer.aboutus_id}"></a>
                </li>
                <li>
                  <a href="/pagereview" th:text="#{footer.review_id}"></a>
                </li>
                <li>
                  <a href="/contact" th:text="#{footer.contact_id}"></a>
                </li>
              </ul>
            </div>
            <div class="col">
              <h3 th:text="#{footer.admin_id}"></h3>
              <button id="adminLoginButton">Admin Login</button>
              <div class="social_icons">
                <ion-icon
                  class="social_icon"
                  name="logo-whatsapp"
                ></ion-icon>
              </div>
            </div>
          </div>
          <hr />
          <p class="copyright" th:text="#{footer.copyright_id}"></p>
        </footer>

          <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

        <!-- custom js link -->
        <script src="./assets/js/script.js"></script>
        <script src="./assets/js/kategori.js"></script> 
      </article>
    </main>

    <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!--VERIFIKASI-->
  <script>
    document.getElementById('adminLoginButton').addEventListener('click', function() {
        Swal.fire({
            title: 'Apakah Anda Pegawai Disini?',
            showDenyButton: true,
            confirmButtonText: 'Iya',
            denyButtonText: 'Tidak',
        }).then((result) => {
            if (result.isConfirmed) {
                showVerificationModal();
            } else if (result.isDenied) {
                window.location.href = '/home';
            }
        });
    });

    function showVerificationModal() {
        Swal.fire({
            title: 'Masukkan Kode Verifikasi',
            input: 'password',
            inputLabel: 'Kode Verifikasi',
            showCancelButton: true,
            confirmButtonText: 'Verifikasi',
            preConfirm: (code) => {
                return fetch('/api/verify', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'code': code
                    })
                })
                .then(response => response.text())
                .then(data => {
                    if (data === 'Verifikasi berhasil!') {
                        Swal.fire({
                            title: 'Verifikasi berhasil!',
                            text: 'Anda akan diarahkan ke laman login',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/login';
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Kode verifikasi salah',
                            text: 'Coba lagi.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Terjadi kesalahan',
                        text: 'Coba lagi.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                });
            }
        });
    }
</script>


  </body>
</html>
