body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0E0D0B;
}

.verification-container {
    text-align: center;
    background-color: #464444;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.verification-question {
    color: white;
}

.buttons {
    margin-top: 1em;
}

button {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#noButton {
    background-color: #d9534f;
    color: #fff;
}

#yesButton {
    background-color: #5cb85c;
    color: #fff;
}

.verification-container input {
    padding: 0.5em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}

.verification-container button {
    padding: 0.5em 1em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5cb85c;
    color: #fff;
}

.verification-container p {
    margin-top: 1em;
    font-size: 1em;
}